// {
//     "extends": ["react-app", "prettier"],
//     "rules": {
//         "prettier/prettier": "error"
//     },
//     "plugins": ["Prettier"]
// }
{
    "extends": ["react-app", "plugin:prettier/recommended"]
}